.statistics{
  background-color: rgb(245, 232, 215);
  border: 1px solid #1a1b1b;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);
  align-items:center;
  margin: 30px;
}
.title{
  display: flex;
  justify-content: center;
  color: rgb(204, 183, 183);
  margin-bottom: 30px;
}

.statList{
  display: flex;
  justify-content: center;
  
}

.item{
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 140px;

  color:#c4bebe;
}
  
  
